<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {{data}},{{current_time}},<br>
        <!-- {{check.date}} -->
        <br>

        {% for check in check_list %}
            <div>
            {{ check }}
            <!-- {{ check.number }}
            {{ check.gender }}
            {{ check.age }}
            {{ check.edu }}
            {{ check.homeOwnership }}
            {{ check.job }}
            {{ check.job2 }}
            {{ check.job3 }}
            {{ check.job4 }}
            {{ check.industry1 }}
            {{ check.industry2 }}
            {{ check.industry3 }}
            {{ check.industry4 }}
            {{ check.industry5 }}
            {{ check.CDlabel4Month }} -->
            </div>
        {% endfor %}
        <!-- {{check}} -->
    </body>
</html>